<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>athenir_prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE83C1F51B61E70C00635ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE83C2091B61E70D00635ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE83C2141B61E70D00635ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
